.save__btn {
  padding: 10px 80px;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.accent:hover {
  background: #cdbd84;
}
.accent {
  background: #7f9d64;
  transition: 0.3s ease-in-out;
}
